<a href="https://colab.research.google.com/github/hudzaiem/hudzaiem/blob/master/UTS_Sistem_Cerdas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **UTS Sistem Cerdas**
# Anggota Kelompok:
1.  Muhammad Farhan Dirhami  (G64170099)
2.  Fadil Risdian Ansori     (G64180111)
3.  Arrazaq Adrian           (G64180109)
4.  Fathan Fatazka           (G64180118)
5.  Hudzaifah Muttaqin       (G64180119)

# **Soal**
Perhatikan 60 observasi dari 3 kelas (kelas 1, kelas 2 dan kelas 3) yang masing-masing objek diamati 3 peubah (yaitu X1, X2, dan X3). Oleh karena mahalnya melakukan pengukuran terhadap kelas, maka beberapa tidak diketahui kelasnya (ND=No Data), tetapi hanya bisa diamati peubah X1 hingga X3-nya. Berdasar data tersebut, anda diminta untuk mendapatkan model LVQ terbaik, dan tentukan tingkat akurasi dari model terbaiknya tersebut. Silakan dikerjakan berkelompok (1 kelompok terdiri 5 orang), dan dikumpulkan paling lambat 24 April ke email : agusbuono@apps.ipb.ac.id (silakan dikerjakan dengan bantuan komputer)
Pertanyaan:


1.   Bagilah data menjadi data training, data validasi dan data uji.
2.   Hitung akurasi model terbaik untuk data uji yg anda tentukan.

# **Jawaban**
## Praproses Data
### 1. Membaca Data

In [4]:
import pandas as pd
import numpy as np

In [ ]:
# dataset dibaca dari github dan dibaca menggunakan read_csv pada library pandas
path = "https://github.com/hudzaiem/hudzaiem/raw/master/Sisdas_UTS_dataset.csv"
df1 = pd.read_csv(path, header=0)
df = pd.DataFrame(df1, index=np.arange(0,60))
df = df.drop(columns=["Unnamed: 0"])
# Agar index dimulai dari 1, digunakan fungsi df.index += 1 
df.index += 1
df

### Membagi Data

In [ ]:
# menggunakan package sklearn_lvq untuk algoritma lvq
pip install sklearn_lvq

In [22]:
from sklearn.model_selection import train_test_split

In [ ]:
data = df[df["kelas"].isna() == False]
# Mengubah tipe data atribut "kelas", dari float menjadi integer agar bisa diproses pada klasifikasi
data["kelas"] = data.kelas.astype("int64")
data

In [ ]:
# Untuk melihat overview typedata dari data
data.dtypes

In [ ]:
# Mengambil data untuk ditest menggunakan model menggunakan dataframe awal tanpa atribut kelas yang Na
datatest = df[df["kelas"].isna()==True].drop(["kelas"],1)
datatest

In [241]:
x = data.drop(["kelas"],axis=1)
y = data["kelas"]
# Membagi data train dan data validasi menggunakan train_test_split
data_train, data_valid,kelas_train,kelas_valid = train_test_split(x,y,train_size = 0.5,random_state = 42)

## Membuat Model

### Menggunakan Rslvq

In [138]:
from sklearn_lvq import RslvqModel
from sklearn_lvq.utils import plot2d
from sklearn.metrics import f1_score
import matplotlib.pyplot as plt

In [242]:
#Membuat Model menggunakan fungsi Rslvq
model = RslvqModel()
# Membuat model menggunakan data train
model.fit(data_train,kelas_train)
# Membuat prediksi kelas dari data validasi menggunakan model yang sebelumnya dibuat
kelas_prediksi = model.predict(data_valid)
kelas_prediksi

array([2, 3, 1, 3, 2, 1, 1, 2, 1, 3, 3, 3, 3, 2, 1, 2, 3, 1, 1])

In [243]:
#Menghitung Akurasi prediksi model
print("Akurasi prediksi menggunakan Rslvq:", model.score(data_train,kelas_train))

Akurasi prediksi menggunakan Rslvq: 0.9473684210526315

In [244]:
#Menghitung akurasi dari kelas_validasi dengan kelas prediksi yang digenerate sebelumnya
f1_score(kelas_valid,kelas_prediksi, average="micro")

0.8421052631578947

In [ ]:
hasil = data_valid.join(kelas_valid)
# Membuat tabel untuk membandingkan antara data validasi dengan hasil prediksi
perbandingan = hasil.assign(kelas_prediksi = kelas_prediksi)
perbandingan

### Menggunakan Glvq

In [67]:
from sklearn_lvq import GlvqModel
from sklearn_lvq.utils import plot2d
from sklearn.metrics import f1_score
import matplotlib.pyplot as plt

In [245]:
#Membuat Model menggunakan fungsi Glvq()
modelG = GlvqModel()
# Membuat model menggunakan data train
modelG.fit(data_train,kelas_train)
# Membuat prediksi kelas dari data validasi menggunakan model yang sebelumnya dibuat
kelas_prediksiG = modelG.predict(data_valid)
kelas_prediksiG

array([2, 3, 1, 3, 2, 1, 1, 1, 1, 3, 3, 3, 3, 2, 1, 2, 3, 1, 1])

In [246]:
#Menghitung Akurasi prediksi model
print("Akurasi prediksi menggunakan Glvq:", modelG.score(data_train,kelas_train))

Akurasi prediksi menggunakan Glvq: 0.7894736842105263

In [247]:
#Menghitung akurasi dari kelas_validasi dengan kelas prediksi yang digenerate sebelumnya
f1_score(kelas_valid,kelas_prediksiG, average="micro")

0.7894736842105263

In [ ]:
hasilG = data_valid.join(kelas_valid)
# Membuat tabel untuk membandingkan antara data validasi dengan hasil prediksi
perbandinganG = hasilG.assign(kelas_prediksi = kelas_prediksiG)
perbandinganG

## Memodelkan Pada Data test

Karena akurasi menggunakan Rslvq() lebih besar dibanding Glvq(), maka kami menggunakan model yang dibuat menggunakan Rslvq()

In [250]:
# Mengklasifikasi datatest dengan model Rslvq yang sudah dimodelkan sebelumnya
datatest_predict = model.predict(datatest)
result = datatest.copy()
# membuat Tabel dengan hasil klasifikasi berdasarkan pemodelan dengan model 
result = result.assign(Kelas = datatest_predict)
result

     x1   x2   x3  Kelas
3   6.2  6.2  6.1      1
5   5.9  5.9  5.7      1
9   5.9  6.1  5.6      1
11  6.2  6.8  7.5      2
15  6.6  6.4  4.6      1
16  6.1  6.7  5.8      2
19  5.0  5.6  5.8      2
21  2.7  3.7  4.6      3
27  4.0  4.6  5.1      3
28  3.4  4.6  4.6      3
30  4.4  4.8  4.6      2
33  5.5  5.2  5.1      1
35  6.5  6.3  5.7      1
39  6.1  6.1  5.5      1
41  6.1  7.1  7.2      2
45  2.5  3.2  5.3      3
46  3.4  4.2  3.1      3
49  7.0  8.0  7.7      2
51  4.1  3.7  3.9      3
57  4.7  6.0  6.5      2
58  3.9  3.8  4.6      3
60  4.0  3.9  3.5      3